<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src="https://cdn.shoelace.style/1.0.0-beta22/shoelace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/cell/1.1.0/cell.js"></script-->
<script src="https://www.celljs.org/cell.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://unpkg.com/frappe-charts@0.0.8/dist/frappe-charts.min.iife.js"></script>

<script src="https://rawgit.com/HumbleSoftware/Flotr2/master/flotr2.min.js"></script>

<link rel="stylesheet" href="https://shoelace.style/dist/shoelace.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style>
  @import url('https://fonts.googleapis.com/css?family=Ubuntu');

  .branding { font-family: 'Ubuntu', bold cursive; font-size: 3.2em; color: darkslategray;}

  .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  .stats {
    background-color: #e63b31;
    margin:10;
    width: 10em;
  }

</style>

<script type="text/template" id='buttons'>
  <span class="badge stats"><i class="fa fa-twitter"></i> {{ user.statuses_count }} tweets</span>
  <span class="badge stats"><i class="fa fa-feed"></i> {{ user.friends_count }} following</span>
  <span class="badge stats"><i class="fa fa-users"></i> {{ user.followers_count }} fans </span>
  <span class="badge stats"><i class="fa fa-heart"></i> {{ user.favourites_count }} likes</span>
</script>

<script>
// 00:20:91:31:37:00

const box = "width:10px;height:10px;margin:2;display:inline-block;"
const boxen = "border:1px solid #ddd;border-radius: .25em;padding: 1rem; margin-bottom: 1.5rem;"

var moody = 0;
var connectUser;
var currentDate = new Date();
var showConnect;
var tweetFilter;

const currentUser = '{{ user.screen_name }}';
const utc_offset = {{ user.utc_offset }};

const Mmm = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]

// TWEETS
var tweets = [
  {{#each tweets}}
      { id: {{this.id}},  link: '{{this.link}}', date : '{{this.date}}', score: {{ this.score }}, retweets: {{ this.retweets }}, likes: {{ this.likes }}, status: atob(`{{{ this.status }}}`), mood: {{{ this.mood }}} },
  {{/each}}
]

// adjust for local time
tweets.forEach((tweet, index) => {
  tweets[index].date = moment.utc(tweet.date).add(utc_offset, 'seconds');
  console.log(`${index} \t ${moment.utc(tweet.date).add(utc_offset, 'seconds')}`)
});

Date.prototype.addDays = function(days) {
  var dat = new Date(this.valueOf());
  dat.setDate(dat.getDate() + days);
  return dat;
}

var startDate = new Date();
startDate.setFullYear(startDate.getFullYear() - 1);
startDate = startDate.addDays(startDate.getDay()*-1);
// GLOBAL VARS data island =.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.

var template = (selector) => {
  return document.getElementById(selector).innerHTML;
}

var yyyy_mm_dd = (date) => {
  return new Date(date).toISOString().split('T')[0];
}

var score = (date) => {
  if (moody) {
    return tweets.reduce(function(total,x){
      return yyyy_mm_dd(x.date)==yyyy_mm_dd(date) ? total+x.score : total}, 0);
  } else {
    return tweets.reduce(function(total,x){
      return yyyy_mm_dd(x.date)==yyyy_mm_dd(date) ? total+1 : total}, 0);
  }
}

var wordOfTheDay = (date) => {
  wotd = tweets.reduce(function(total, x){
    return yyyy_mm_dd(x.date)==yyyy_mm_dd(date) ?
      total.concat(
        x.mood.tokens.filter((word) => {
           return (x.mood.words.indexOf(word) === -1)
        })) : total}, []);
  return wotd.filter(
    (word) => {
      return word.length > 4;
    }).reduce(
        (o, s) => {
          o.freq[s] = (o.freq[s] || 0) + 1;
          if (!o.freq[o.most] || o.freq[s] > o.freq[o.most]) o.most = s;
            return o;
        }, { freq: { }, most: '' });
}

var mapColor = (t) => {
  if (moody) {
    return(t < -15 ? '#800080'
         : t < -10  ? '#cc2502'
         : t < -5  ? '#ffa533'
         : t < 0 ? '#f4d96b'
         : t == 0 ? '#ebedf0'
         : t > 0 & t <= 5 ? '#d8d874'
         : t > 5 & t <= 10? '#4fe002'
         : t > 10 ? '#008000'
         : '#2aeef1');
  } else {
    return(t < 1 ? '#ebedf0'
         : t < 5 ? '#c6e48b'
         : t < 9 ? '#7bc96f'
         : t < 15 ? '#239a3b'
         : '#196127');
  }
}

var Day = function(week, day){
  var jd = (week * 7) + day;
  var date = startDate.addDays(jd);
  var count = score(date); //Math.floor(Math.random() * 20) + 1;
  var fill = mapColor(count);
  var wotd = wordOfTheDay(date);

  var title = `${count} tweets on ${moment(date).format('MMMM Do YYYY')} re: ${wotd.most}`
  return { count: count, date: date, fill: fill, wotd: wotd, title: title };
}

var Days = function(week){
  return [...Array(7).keys()].map(
    function(day) {
      var x = (13);
      var y = (day * 12);
      var day = Day(week, day);
      return {
        $type: "rect",
        class: "day",
        width: "10",
        height: "10",
        x: `${x}`,
        y: `${y}`,
        fill: day.fill,
        count: day.count,
        _date: day.date,
        _selectDate: (event) => {
          currentDate = new Date(event.currentTarget._date);
          document.querySelector("#latest")._currentDate = currentDate;
          document.querySelector("#activityChart")._currentDate = currentDate;
        },
        $init: function(){
          this.onclick = this._selectDate;
        },
        $components: [{ $type:'title', $text: day.title}]
      }
    });
};

var Week = function(week) {
  var p = week * 13;
  return {
    $type: "g",
    class: `week w${week}`,
    transform: `translate(${p}, 0)`,
    $components: Days(week)
  }
}

var Weeks = function() {
  return [...Array(53).keys()].map(function(week){ return Week(week) });
}

WkDays = {
  $type: "g",
  transform: "translate(14, 20)",
  $components: [
    {
      $type: "text",
      class: "wday",
      dx: "-14",
      dy: "8",
      style: "display: none;",
      $text: "Sun"
    },
    {
      $type: "text",
      class: "wday",
      dx: "-14",
      dy: "20",
      $text: "Mon"
    },
    {
      $type: "text",
      class: "wday",
      dx: "-14",
      dy: "32",
      style: "display: none;",
      $text: "Tue"
    },
    {
      $type: "text",
      class: "wday",
      dx: "-14",
      dy: "44",
      $text: "Wed"
    },
    {
      $type: "text",
      class: "wday",
      dx: "-14",
      dy: "57",
      style: "display: none;",
      $text: "Thu"
    },
    {
      $type: "text",
      class: "wday",
      dx: "-14",
      dy: "69",
      $text: "Fri"
    },
    {
      $type: "text",
      class: "wday",
      dx: "-14",
      dy: "81",
      style: "display: none;",
      $text: "Sat"
    }
  ]
};

// Month headings
var currentMonth = new Date().getMonth()+1;

var monthAbbrs = Mmm.slice(currentMonth-12)
                .concat(Mmm.slice(0, currentMonth))
                .slice(0,12);

var Month = function(month) {
  var x = 25 + (monthAbbrs.indexOf(month)*58);
  var y = -10;
  var html = `<text x="${x}" y="${y}" class="month">${month}</text>`
  return {
    $type: "g",
    $html: html
  }
}
// Month headings

Year = {
  id: "year",
  $type: "g",
  transform:"translate(16, 20)",
  $components: [],
  $init: function(){
    this.$components = Weeks().concat(monthAbbrs.map(function(month){ return Month(month) }));
  }
}

Mood = {
  id: "mood",
  $type: "span",
  class: "switch switch-xs",
  $components: [
    {
      id: "switch-xs",
      $type: "input",
      "type": "checkbox",
      onchange: (event) => {
        moody = 1 - moody;
        document.querySelector('#calendar')._moody = moody;
      }
    },
    {
      $type: "label",
      "for": "switch-xs",
      $text: "Sentiment"
    }
  ]
}

Total = {
  id: "total",
  $type: "span",
  style: "float:left; font-size:10px; margin:10",
  $text: `Latest ${tweets.length}`
}

Loader = {
    $type: "div",
    class: "loader",
    style: "display:none"
}

Legend = {
  id: "legend",
  $type: "div",
  style: "float:right; font-size:10px; margin:10",
  $components: [
    {
      $type: "ul",
      style: "display: inline-flex;",
      class: "legend",
      $components: [
        { $type: "li", style: "display:inline-block;margin:0 2;", $text: "Less" },
        { $type: "li", style: `${box} background-color: #eee` },
        { $type: "li", style: `${box} background-color: #c6e48b` },
        { $type: "li", style: `${box} background-color: #7bc96f` },
        { $type: "li", style: `${box} background-color: #239a3b` },
        { $type: "li", style: `${box} background-color: #196127` },
        { $type: "li", style: "display:inline-block;margin:0 10 0 2;", $text: "More" }
      ]
    }
  ]
}

Search = {
  id: "search",
  $type: "input",
  type: "text",
  class: "form-control",
  placeholder: "Enter Twitter name",
  onkeyup: function(e) {
    if (e.keyCode === 13) {
      this._do();
    }
  },
  _do: function() {
    url = `/search/${this.value.replace('@','')}`;
    fetch(url)
      .then(response => {
        return response.json();
      })
      .then(response => {
        this._done(response);
      });
  },
  _done: function(response) {
    document.querySelector(".results")._set(
      response.items.map(function(item) {
        console.log(item.name);
        return item;
      })
    );
  },
};

Filter = {
  id: "filter",
  $type: "input",
  type: "text",
  class: "form-control",
  placeholder: "Filter timeline...",
  style: "margin-bottom: 10px;",
  onkeyup: function(e) {
    if (e.keyCode === 13) {
      this._do();
    }
  },
  _do: function() {
    tweetFilter = this.value;
    document.querySelector("#latest")._tweetFilter = this.value;
  },
};

Header = {
  $type: "div",
  style: `${boxen} text-align: center; margin: 0% 5% 0% 5%;`,
  $components: [
    {
      $type: "a",
       href: "http://twitter.com/{{ user.screen_name }}/",
      title: "goto twitter" ,
      style: "text-decoration: none; color:darkslategray",
      $components: [
        {
          $type: "h1",
          $text: "@{{ user.screen_name }}"
        }
      ]
    },
    {
      $type: "h5",
      $html: "{{{ user.name }}}"
    },
    {
      $type: "h6",
      $html: `{{{ user.description }}}`
    },
    {
      $type: "img",
        src: "{{ user.avatar }}",
      style: "border-style:groove; border-radius:50%; height:120px; display:block; margin: 30 auto;"
    },
    {
      $type: "div",
      class: "buttons",
      style: "display:inline-flex",
      $html: template('buttons')
    }
  ]
}

var getHeatmap = self => {
  if (self._tweets.length > 0) {
    return {
      $type: "svg",
      style: "font-family:Arial,Helvetica;font-size:10px;padding:1em 2em;color:#586069;",
      width: "800",
      height: "160",
      class: "svg-heatmap",
      $components: [WkDays, Year]
    };
  } else {
    Total.style = "display:none";
    Legend.style = "display:none";

    return {
           id: "button",
        $type: "button",
        $text: "Import data",
        class: "button-secondary",
        style: "margin:15% auto; display:block;",
        title: "Sorry, Twitter may be rate-limited currently. Please try again later.",
        onclick: event => {
          event.preventDefault();
          Total.style = "float:left; font-size:10px; margin:10";
          Legend.style = "float:right; font-size:10px; margin:10";

          document.querySelector(".loader").style = "margin:10% auto; display:block;";
          event.currentTarget.style = "display:none";

          request = "/{{ user.screen_name }}/tweets/";
          response = fetch(request).then(response => {
            return response.json();
          }).then(response => {
            if (response.tweets.length == 0) {
              loader = document.querySelector(".loader");
              button = document.querySelector("#button");
              loader.style = "display:none";
              button.style = "margin:15% auto; display:block; ";
              button.innerHTML = "Try again";
              button.class = "button-warning";
            } else {
              return document.querySelector("#calendar")._set(response.tweets);
            }
          });
        }
    };
  }
};

Results = (item) => {
  return {
    $type: "div",
    style: 'display:inline-grid; margin:40px 80px; width:160px; text-align:center;',
    $components: [
      {
        $type: 'h5',
        $text: `${item.user.replace('/','@')}`
      },
      {
         $type: 'div',
         $text: `${item.name}`
      },
      {
        $type: "a",
        href: `/profile${item.user}/`,
        title: item.name,
        $text: `${item.name} ${item.user}`,
        $components: [
        {
           $type: 'img',
           style: 'border-style:groove; border-radius:50%; height:120px; display:block;margin:auto',
           src: item.image }]
      }]
  };
};

filterBox = {
  $type: "div",
  class: "input-group",
  $components: [ Filter, {
      $type: "button",
      type: "button",
      class: "button",
      $text: "Filter",
      onclick: () => {
        document.querySelector("#filter")._do();
      }
    }
  ]
}

searchBox = {
  $type: "div",
  class: "input-group",
  $components: [ Search, {
      $type: "button",
      type: "button",
      class: "button",
      $text: "Search",
      onclick: () => {
        document.querySelector("#search")._do();
      }
    }
  ]
}

Calendar = {
  id: "calendar",
  $type: "div",
  class: "calendar",
  $components: [],
  _moody: 0,
  _tweets: [],
  _set: function(items) {
    this._tweets = items;
  },
  $init: function(){
    this._tweets = tweets;
    this.$components = [ Total, Legend, getHeatmap(this), Mood, Loader ]
  },
  $update: function(){
    tweets = this._tweets;
    this.$components[2] = getHeatmap(this)
  }
}

var tweetView = (tweet) => {
  var badgeColor = mapColor(tweet.score);
  var html = tweet.status;
  links = html.match(/https\:\/\/t.co(.*)/igm)
  if (links) {
    html = html.replace(links[0], `<a href="${links[0]}"><b>...</b></a>`);
  }
  ats = html.match(/@(\w+)/igm)
  if (ats) {
    ats.forEach((at)=>{
      html = html.replace(at, `<a href="/profile/${at.replace('@','')}" style='text-decoration:none'><b>${at}</b></a>`);
    })
  }

  return {
    $type: "p",
    $components: [
      {
        $type: "a",
        class: "badge badge-secondary",
        style: `background-color:${badgeColor}; color: darkslategray;`,
        href: `https://twitter.com/{{ user.screen_name }}/status/${tweet.link}`,
        role: "button",
        $components: [
          {
            "$type": "text",
            "$text": moment(tweet.date).format("DD MMM | HH:mm A | ")
          },
          {
            "$type": "i",
            "class": "fa fa-retweet",
            "style": "color: royalblue;"
          },
          {
            "$type": "text",
            "$text": ` ${tweet.retweets} | `
          },
          {
            "$type": "i",
            "class": "fa fa-heart",
            "style": "color: darkred;"
          },
          {
            "$type": "text",
            "$text": ` ${tweet.likes} `
          }
        ]
      },
      {
        $type: "span",
        style: "margin:.75em;",
        $html: html
      }
    ]
  }

}

var groupBy = function(key, list) {
  return list.reduce(function(rv, x) {
    (rv[x[key]] = rv[x[key]] || []).push(x);
    return rv;
  }, {});
};

var sortBy = (key, list) => {
    return list.sort(function(a, b) {
        var x = a[key]; var y = b[key];
        return ((x < y) ? -1 : ((x > y) ? 1 : 0));
    });
}

var contactLink = (contact) => {
  return {
    $type: "a",
    style: 'text-decoration: none',
    $text: contact,
    onclick: (event) => {
      showConnect = 1;
      connectUser = contact;
      document.querySelector("#latest")._connectUser = connectUser;
    }
  }
}

var contactList = () => {
  contacts = [];

  tweets.forEach((tweet) => {
    var mentions = tweet.status.match(/@(\w+)/igm);
    if (mentions) {
      mentions.forEach((user) => {
        name = user.replace('@','').toLowerCase();
        if (name != '{{user.screen_name}}'.toLowerCase()) {
          found = contacts.indexOf(contacts.find(item => item.name === name))
          if (found == -1){
            contact = { name: name, total: 1, score: tweet.score }
            contacts.push(contact);
          } else {
            contact = contacts[found]
            contacts[found] = { name: contact.name, total: contact.total + 1, score: contact.score+tweet.score };
          }
        }
      })
    }
  })

  var firehose = contacts.slice();

  firehose.sort(function(a, b) {
    return parseInt(a.total) - parseInt(b.total);
  });

  contacts.sort(function(a, b) {
    return parseFloat(a.score) - parseInt(b.score);
  });

  var parts = [
    {
      $type: "tr",
      $components: [
        {
          $type: "th",
          $text: "Positive"
        },
        {
          $type: "th",
          $text: "Score"
        },
        {
          $type: "th",
          $text: "Negative"
        },
        {
          $type: "th",
          $text: "Score"
        },
        {
          $type: "th",
          $text: "Firehose"
        },
        {
          $type: "th",
          $text: "Total"
        }
      ]
    }
  ]

  var length = contacts.length < 20 ? contacts.length : 20;
  for (i = 0; i < length; i++) {
    parts.push(
      {
        $type: "tr",
        $components: [
          {
            $type: "td",
            $components: [ contactLink(contacts[contacts.length-1-i].name) ]
          },
          {
            $type: "td",
            $text: contacts[contacts.length-1-i].score,
            onclick: (event) => {
              connectUser = event.currentTarget.previousElementSibling.innerText;
              showConnect = 1;
              document.querySelector("#latest")._connectUser = connectUser;
            }
          },
          {
            $type: "td",
            $components: [ contactLink(contacts[i].name) ]
          },
          {
            $type: "td",
            $text: contacts[i].score,
            onclick: (event) => {
              connectUser = event.currentTarget.previousElementSibling.innerText;
              showConnect = 1;
              document.querySelector("#latest")._connectUser = connectUser;
            }
          },
          {
            $type: "td",
            $components: [ contactLink(firehose[firehose.length-1-i].name) ]
          },
          {
            $type: "td",
            $text: firehose[firehose.length-1-i].total,
            onclick: (event) => {
              connectUser = event.currentTarget.previousElementSibling.innerText;
              showConnect = 1;
              document.querySelector("#latest")._connectUser = connectUser;
            }
          }
        ]
      }
    )
  }
  return parts;
}

var Contacts = {
  $type: "table",
  class: "table-striped",
  $components: [
    {
      $type: "tbody",
      $components: contactList()
    }
  ]
}

// PUT THIS DUMPSTER FIRE OUT NOW!
var currentTweets = (date) => {
  var items = [];

  if (tweetFilter){
    results = tweets.filter((tweet) => {return (~tweet.status.indexOf(tweetFilter)) })
  } else {
    results = tweets.filter((tweet) => {return yyyy_mm_dd(tweet.date)==yyyy_mm_dd(date) })
  }
  results = sortBy('date', results).reverse();
  results.forEach((tweet) => { items.push(
    {
      $type: "li",
      $components: [ tweetView(tweet) ]
    })
  })
  tweetFilter = '';
  return items;
}

var contactTweets = (user) => {
  var items = [];
  if (user) {
    archive = sortBy('date', tweets).reverse();
    archive = archive.filter((tweet) => {
      var profile = new RegExp(user, 'igm');
      if (tweet.status.match(profile)) {
        return true;
      }
    })
    archive.forEach((tweet) => { items.push(
      {
        $type: "li",
        $components: [ tweetView(tweet) ]
      })
    })
  }
  return items;
}

var workingHours = (date) => {

  var items = [];
  var data = [0, 0, 0, 0, 0, 0, 0, 0];

  todays = tweets.filter((tweet) => { return yyyy_mm_dd(tweet.date)==yyyy_mm_dd(date) })

  todays.map((item, index) => {
    hour = moment(item.date).format('HH')
    total = parseInt(hour/3)
    data[total] = data[total]+1
  });

  return data;
}

var drawActivityGraph = (date) => {

  let data = {
    labels: ["12am-3am", "3am-6am", "6am-9am", "9am-12pm", "12pm-3pm", "3pm-6pm", "6pm-9pm", "9pm-12am"],

    datasets: [
      {
        values: workingHours(date)
      }
    ]
  };

  let chart = new Chart({
    parent: "#activityChart",
    title: `Local time ${utc_offset/3600} hrs {{ user.time_zone }}`,
    data: data,
    type: 'bar',
    height: 200,
    colors: ['#7cd6fd', '#743ee2'],
    format_tooltip_x: d => (d + '').toUpperCase(),
    format_tooltip_y: d => d + ' tweets'
  });

}

var tweetBoosts = () => {

  var items = [];
  var data = {};
  retweets = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
  likes = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

  var startDate = new Date();
  startDate.setMonth(startDate.getMonth()-12);
  var endDate = new Date();

  yearly = tweets.filter((tweet) => {
    date = new Date(tweet.date)
    return (startDate <= date && date <= endDate)
  })

  yearly.map((tweet, index) => {
    var date = new Date(tweet.date);
    var month = monthAbbrs.indexOf(moment(tweet.date).format("MMM"));
    likes[month] = likes[month] + tweet.likes
    retweets[month] = retweets[month] + tweet.retweets
    console.log(`${tweet.id} ~ ${month} \t ${tweet.retweets} \t ${tweet.likes}`)
  });

  data.retweets = retweets;
  data.likes = likes;

  return data;
}

var drawPopularityGraph = (date) => {

  var boosts = tweetBoosts();

  let data = {
    labels: monthAbbrs,
    datasets: [
      {
        title: "Retweets",
        values: boosts.retweets
      },
      {
        title: "Likes",
        values: boosts.likes
      },
    ]
  };

  let chart = new Chart({
    parent: "#popularityChart",
    title: "Popularity",
    data: data,
    type: 'line',
    height: 200,
    colors: ['green', 'tomato'],
  });

}

Items = {
  id: "latest",
  $type: "ul",
  style: "list-style-type: none; font-size: small; padding:0px;",
  _currentDate: currentDate,
  _connectUser: connectUser,
  _tweetFilter: tweetFilter,
  $components: [],
  $init: function(){
    this.$components = currentTweets(this._currentDate);
  },
  $update: function(){
    if (showConnect) {
      this.$components = contactTweets(this._connectUser);
    } else {
      this.$components = currentTweets(this._currentDate);
    }
    showConnect = 0;
  }
}

Latest = {
  $type: "div",
  style: `${boxen} margin: 1.5em 5% 0% 5%;`,
  $components: [ filterBox, Items ]
}

Activity = {
  id: "activity",
  $type: "div",
  style: `width:800px; ${boxen}`,
  $components: [{
    $type: "div",
    id: "activityChart",
    _currentDate: currentDate,
    $init: function() {
      drawActivityGraph(this._currentDate);
    },
    $update: function() {
      drawActivityGraph(this._currentDate);
    }
  }]
}

Popularity = {
  id: "popularity",
  $type: "div",
  style: `width:800px; ${boxen}`,
  $components: [{
    $type: "div",
    id: "popularityChart",
    _currentDate: currentDate,
    $init: function() {
      drawPopularityGraph(this._currentDate);
    },
    $update: function() {
      drawPopularityGraph(this._currentDate);
    }
  }]
}

drawSignalGraph = () => {
  var
    container = document.getElementById('container'),
    start = (new Date).getTime(),
    data, graph, offset, i;

    data = [];
    offset = 2 * Math.PI * (t - start) / 10000;

    // Sample the sine function
    for (i = 0; i < 4 * Math.PI; i += 0.2) {
      data.push([i, Math.sin(i - offset)]);
    }

    // Draw Graph
    document.createElement(el);
    Flotr.draw(el, [ data ], {
      yaxis : {
        max : 2,
        min : -2
      }
    });

    return
}

Signal = {


}


History = {
  id: "history",
  $type: "ul",
  style: "list-style-type: none; font-size: small",
  _connectUser: connectUser,
  $components: [],
  $init: function(){
    this.$components = contactTweets(this._connectUser);
  },
  $update: function(){
    this.$components = contactTweets(this._connectUser);
  }
}

Tabs = {
  $type: "div",
  class: "tabs",
  style: `width:800px;`,
  $components: [
    {
      $type: "nav",
      class: "tabs-nav",
      $components: [
        {
          $type: "a",
          href: "#tab-1",
          class: "active",
          $text: "Timeline"
        },
        {
          $type: "a",
          href: "#tab-2",
          $text: "Network"
        },
        {
          $type: "a",
          href: "#tab-3",
          $text: "Latest"
        },
        {
          $type: "a",
          href: "#tab-4",
          $text: "History"
        }
      ]
    },
    {
      $type: "div",
      class: "tabs-pane active",
      id: "tab-1",
      $components: [ Calendar ]
    },
    {
      $type: "div",
      class: "tabs-pane",
      id: "tab-2",
      $components: [ Contacts ]
    },
    {
      $type: "div",
      class: "tabs-pane",
      id: "tab-3",
      $components: [ Latest ]
    },
    {
      $type: "div",
      class: "tabs-pane",
      id: "tab-4",
      $components: [ History ]
    }
  ]
}

Main =  {
  class: "results",
  _set: function(items) {
    this._items = items;
    this._currentItems = this._items;
  },
  _items: [],
  _currentItems: [],
  $components: [{
    $type: "div",
    class: "row",
    $components: [
      {
        $type: "div",
        class: "col" ,
        $components: [ Header, Latest ]
      },
      {
        $type: "div",
        class: "col" ,
        $components: [ Tabs, Activity, Popularity ]
      }
    ]
  }],
  $update: function() {
    this.$components = this._currentItems.map(Results);
  }
}

Menu = {
  $type: "div",
  class: "row",
  $components: [
    {
      $type: "h1",
      class: "six columns branding",
      $components: [
        {
          $type: "a",
          style: "text-decoration:none;padding-left:5%",
          href: "/",
          $text: "twithub"
        }
      ]
    },
    {
      $type: "div",
      class: "five columns",
      $components:[ searchBox ]
    }
  ]
}

App = {
  $cell: true,
  $type: "div",
  class: "main",
  style: "margin: 30px auto;color:darkslategray;",
  $components: [ Menu, Main ]
}

</script>
</html>
