<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src="https://cdn.shoelace.style/1.0.0-beta22/shoelace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cell/1.1.0/cell.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<link rel="stylesheet" href="https://shoelace.style/dist/shoelace.css">
<style>
  .tabs-nav {
     padding-right:10%;
     position: absolute;
     -webkit-transform-origin: 100% 0;
        -moz-transform-origin: 100% 0;
          -o-transform-origin: 100% 0;
             transform-origin: 100% 0;
     -webkit-transform: translate(-100%, 0) rotate(-90deg);
        -moz-transform: translate(-100%, 0) rotate(-90deg);
          -o-transform: translate(-100%, 0) rotate(-90deg);
             transform: translate(-100%, 0) rotate(-90deg);
     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
  .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
</style>

<script type="text/template" id='buttons'>
  <h5><span class="badge" style="background-color: #e63b31; margin:10">{{ user.tweeted }} tweets</span></h5>
  <h5><span class="badge" style="background-color: #e63b31; margin:10">{{ user.following }} following </span></h5>
  <h5><span class="badge" style="background-color: #e63b31; margin:10">{{ user.followers }} fans </span></h5>
  <h5><span class="badge" style="background-color: #e63b31; margin:10">{{ user.likes }} likes</span></h5>
</script>

<script>
// 00:20:91:31:37:00

const CRUFTWORDS = ['a','is','are','was','were','and','it','in','to','of','the','this','that','these','those','I','me','you','which','rt']
var moody = 0;

var tweets = [
  {{#each tweets}}
      { id: {{this.id}},  date : '{{this.date}}', score: {{ this.score }}, mood: {{{ this.mood }}} },
  {{/each}}
]

Date.prototype.addDays = function(days) {
  var dat = new Date(this.valueOf());
  dat.setDate(dat.getDate() + days);
  return dat;
}

var template = (selector) => {
  return document.getElementById(selector).innerHTML;
}

var startPeriod = new Date();
startPeriod.setFullYear(startPeriod.getFullYear() - 1);
startPeriod = startPeriod.addDays(startPeriod.getDay()*-1);

const Mmm = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]

function yyyy_mm_dd (date) {
  return new Date(date).toISOString().split('T')[0];
}

function score(date){
  if (moody) {
    return tweets.reduce(function(total,x){
      return yyyy_mm_dd(x.date)==yyyy_mm_dd(date) ? total+x.score : total}, 0);
  } else {
    return tweets.reduce(function(total,x){
      return yyyy_mm_dd(x.date)==yyyy_mm_dd(date) ? total+1 : total}, 0);
  }
}

function chocBox(selection) {
  return selection[Math.floor(Math.random() * selection.length)]
}

function wordOfTheDay(date){
  wotd = tweets.reduce(function(total, x){
    return yyyy_mm_dd(x.date)==yyyy_mm_dd(date) ?
      total.concat(
        x.mood.tokens.filter((word) => {
           return (x.mood.words.indexOf(word) === -1)
        })) : total}, []);
  return wotd.filter(
    (word) => {
      return word.length > 4;
    }).reduce(
        (o, s) => {
          o.freq[s] = (o.freq[s] || 0) + 1;
          if (!o.freq[o.most] || o.freq[s] > o.freq[o.most]) o.most = s;
            return o;
        }, { freq: { }, most: '' });
}

// banding
function getColor(value){
    //value from 0 to 1
    var hue=((1-value)*120).toString(10);
    return ["hsl(",hue,",50%,40%)"].join("");
}

function mapColor(t){
  if (moody) {
    return(t < -15 ? '#800080'
         : t < -10  ? '#cc2502'
         : t < -5  ? '#ffa533'
         : t < 0 ? '#f4d96b'
         : t == 0 ? '#ebedf0'
         : t > 0 & t <= 5 ? '#d8d874'
         : t > 5 & t <= 10? '#4fe002'
         : t > 10 ? '#008000'
         : '#2aeef1');
  } else {
    return(t < 1 ? '#ebedf0'
         : t < 5 ? '#c6e48b'
         : t < 9 ? '#7bc96f'
         : t < 15 ? '#239a3b'
         : '#196127');
  }
}

var Day = function(week, day){
  var jd = (week * 7) + day;
  var date = startPeriod.addDays(jd);
  var count = score(date); //Math.floor(Math.random() * 20) + 1;
  var fill = mapColor(count);
  var wotd = wordOfTheDay(date);

  var title = `${count} tweets on ${moment(date).format('MMMM Do YYYY')} re: ${wotd.most}`
  return { count: count, date: date, fill: fill, wotd: wotd, title: title };
}

var Days = function(week){
  return [...Array(7).keys()].map(
    function(day) {
      var x = (13);
      var y = (day * 12);
      var day = Day(week, day);
      return {
        $type: "rect",
        class: "day",
        width: "10",
        height: "10",
        x: `${x}`,
        y: `${y}`,
        fill: day.fill,
        count: day.count,
        date: day.date,
        $components: [{ $type:'title', $text:day.title}]
      }
    });
};

var Week = function(week) {
  var p = week * 13;
  return {
    $type: "g",
    class: `week w${week}`,
    transform: `translate(${p}, 0)`,
    $components: Days(week)
  }
}

var Weeks = function() {
  return [...Array(53).keys()].map(function(week){ return Week(week) });
}

var Month = function(month) {
  var x = 25 + (Mmm.indexOf(month)*58);
  var y = -10;
  var html = `<text x="${x}" y="${y}" class="month">${month}</text>`
  return {
    $type: "g",
    $html: html
  }
}

var Months = function(index) {
  var months = Mmm.slice(index-12)
                  .concat(Mmm.slice(0,index))
                  .slice(0,12);
  return months.map(function(month){ return Month(month) });
}

// because namespace text and svg text - fix celljs $type text
var html = `
<text class="wday" dx="-14" dy="8" style="display: none;">Sun</text>
<text class="wday" dx="-14" dy="20">Mon</text>
<text class="wday" dx="-14" dy="32" style="display: none;">Tue</text>
<text class="wday" dx="-14" dy="44">Wed</text>
<text class="wday" dx="-14" dy="57" style="display: none;">Thu</text>
<text class="wday" dx="-14" dy="69">Fri</text>
<text class="wday" dx="-14" dy="81" style="display: none;">Sat</text>`

WkDays = { $type: "g", transform: "translate(14, 20)", $html: html };

Year = {
  id: "year",
  $type: "g",
  transform:"translate(16, 20)",
  $components: [],
  $init: function(){
    this.$components = Weeks().concat(Months(new Date().getMonth()+1));
  }
}

const box = "width:10px;height:10px;margin:2;display:inline-block;"

Total = {
  id: "total",
  $type: "span",
  style: "float:left; font-size:10px; margin:10",
  $init: function(){
    this.$text = `Latest ${tweets.length}`;
  },
}

Loader = {
    $type: "div",
    class: "loader",
    style: "display:none"
}

Legend = {
  id: "legend",
  $type: "div",
  style: "float:right; font-size:10px; margin:10",
  $components: [
    {
      $type: "ul",
      style: "display: inline-flex;",
      class: "legend",
      $components: [
        { $type: "li", style: "display:inline-block;margin:0 2;", $text: "Less" },
        { $type: "li", style: `${box} background-color: #eee` },
        { $type: "li", style: `${box} background-color: #c6e48b` },
        { $type: "li", style: `${box} background-color: #7bc96f` },
        { $type: "li", style: `${box} background-color: #239a3b` },
        { $type: "li", style: `${box} background-color: #196127` },
        { $type: "li", style: "display:inline-block;margin:0 10 0 2;", $text: "More" }
      ]
    }
  ]
}

Header = {
  $type: "header",
  class: "hero",
  style: "text-align: center;",
  $components: [{
    $type: "div",
    class: "content",
    $components: [
      {
        $type: "a",
         href: "http://twitter.com/{{ user.screen_name }}/",
        title: "goto twitter" ,
        style: "text-decoration: none; color:darkslategray",
        $components: [
          {
            $type: "h1",
            $text: "@{{ user.screen_name }}"
          }
        ]
      },
      {
        $type: "h5",
        $text: "{{user.name}}"
      },
      {
        $type: "img",
          src: "{{ user.avatar }}",
        style: "border-style:groove; border-radius:50%; height:160px; display:block; margin: 30 auto;"
      },
      {
        $type: "div",
        class: "buttons",
        style: "display:inline-flex",
        $html: template('buttons')
      }
    ]
  }]
}

Search = {
  id: "search",
  $type: "input",
  type: "text",
  class: "form-control",
  placeholder: "Search Twitter users",
  onkeyup: function(e) {
    if (e.keyCode === 13) {
      this._do();
    }
  },
  _do: function() {
    url = `/search/${this.value.replace('@','')}`;
    fetch(url)
      .then(response => {
        return response.json();
      })
      .then(response => {
        this._done(response);
      });
  },
  _done: function(response) {
    document.querySelector(".results")._set(
      response.items.map(function(item) {
        console.log(item.name);
        return item;
      })
    );
  },
};

var getHeatmap = self => {
  if (self._tweets.length > 0) {
    return {
      $type: "svg",
      style: "font-family:Arial,Helvetica;font-size:10px;padding:1em 4em;color:#586069;",
      width: "800",
      height: "160",
      class: "svg-heatmap",
      $components: [WkDays, Year]
    };
  } else {
    Total.style = "display:none";
    Legend.style = "display:none";

    return {
           id: "button",
        $type: "button",
        $text: "Import data",
        class: "button-secondary",
        style: "margin:15% auto; display:block;",
        onclick: event => {
          event.preventDefault();
          Total.style = "float:left; font-size:10px; margin:10";
          Legend.style = "float:right; font-size:10px; margin:10";

          document.querySelector(".loader").style = "margin:10% auto; display:block;";
          event.currentTarget.style = "display:none";

          request = "/{{ user.screen_name }}/tweets/";
          response = fetch(request).then(response => {
            return response.json();
          }).then(response => {
            if (response.tweets.length == 0) {
              loader = document.querySelector(".loader");
              button = document.querySelector("#button");
              loader.style = "display:none";
              button.style = "margin:15% auto; display:block; ";
              button.innerHTML = "Try again";
              button.class = "button-warning";
            } else {
              return document.querySelector("#calendar")._set(response.tweets);
            }
          });
        }
    };
  }
};

Results = (item) => {
  return {
    $type: "div",
    style: 'display:inline-grid; margin:40px 80px; width:160px; text-align:center;',
    $components: [
      {
        $type: 'h5',
        $text: `${item.user.replace('/','@')}`
      },
      {
         $type: 'div',
         $text: `${item.name}`
      },
      {
        $type: "a",
         href: `/report${item.user}/`,
         title: item.name,
         $text: `${item.name} ${item.user}`,
         $components: [{
           $type: 'img',
           style: 'border-style:groove; border-radius:50%; height:120px; display:block;margin:auto',
           src: item.image }]
      }]
  };
};

Mood = {
  "id": "mood",
  "$type": "span",
  "class": "switch switch-xs",
  "$components": [
    {
      "id": "switch-xs",
      "$type": "input",
      "type": "checkbox",
      onchange: (event) => {
        moody = 1 - moody;
        document.querySelector('#calendar')._moody = moody;
      }
    },
    {
      "$type": "label",
      "for": "switch-xs",
      "$text": "Sentiment"
    }
  ]
}

Menu = {
  $type: "div",
  class: "container search",
  $components: [{
    $type: "div",
    class: "row",
    $components: [
      {
        $type: "h5",
        class: "col",
        style: "text-align:center",
        $components: [
          {
            "$type": "a",
            "style": "text-decoration:none",
            "href": "/",
            "$text": "SoCaliente"
          }
        ]
      },
      {
        $type: "div",
        class: "col-6",
        $components:[
          {
            "$type": "div",
            "$cell": true,
            "class": "input-group",
            "$components": [ Search,
              {
                "$type": "button",
                "type": "button",
                "class": "button",
                "$text": "Submit",
                onclick: () => {
                  document.querySelector("#search")._do();
                }
              }
            ]
          }
        ]
      },
      {
        $type: "div",
        class: "col",
        style: "text-align:center",
        $components: [ Mood ]
      }
    ]
  }]
}

Calendar = {
  id: "calendar",
  $type: "div",
  style: "width:800px;border: 1px #d1d5da solid;display:block; margin: 30px auto;",
  class: "calendar",
  $components: [],
  _moody: 0,
  _tweets: [],
  _set: function(items) {
    this._tweets = items;
  },
  $init: function(){
    this._tweets = tweets;
    this.$components = [ Total, Legend, getHeatmap(this), Loader ]
  },
  $update: function(){
    tweets = this._tweets;
    this.$components = [ Total, Legend, getHeatmap(this), Loader ]
  }
}

Hello =         {
          $type: "form",
          "$components": [
            {
              $type: "div",
              "class": "row",
              "$components": [
                {
                  $type: "div",
                  "class": "six columns",
                  "$components": [
                    {
                      $type: "label",
                      "for": "exampleEmailInput",
                      $text: "Your email"
                    },
                    {
                      $type: "input",
                      "class": "u-full-width",
                      "type": "email",
                      "placeholder": "test@mailbox.com",
                      "id": "exampleEmailInput"
                    }
                  ]
                },
                {
                  $type: "div",
                  "class": "six columns",
                  "$components": [
                    {
                      $type: "label",
                      "for": "exampleRecipientInput",
                      $text: "Reason for contacting"
                    },
                    {
                      $type: "select",
                      "class": "u-full-width",
                      "id": "exampleRecipientInput",
                      "$components": [
                        {
                          $type: "option",
                          "value": "Option 1",
                          $text: "Questions"
                        },
                        {
                          $type: "option",
                          "value": "Option 2",
                          $text: "Admiration"
                        },
                        {
                          $type: "option",
                          "value": "Option 3",
                          $text: "Can I get your number?"
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              $type: "label",
              "for": "exampleMessage",
              $text: "Message"
            },
            {
              $type: "textarea",
              "class": "u-full-width",
              "placeholder": "Hi Dave …",
              "id": "exampleMessage"
            },
            {
              $type: "label",
              "class": "example-send-yourself-copy",
              "$components": [
                {
                  $type: "input",
                  "type": "checkbox"
                },
                {
                  $type: "span",
                  "class": "label-body",
                  $text: "Send a copy to yourself"
                }
              ]
            },
            {
              $type: "input",
              "class": "button-primary",
              "type": "submit",
              "value": "Submit"
            }
          ]
        },


Main =  {
  class: "container results",
  _set: function(items) {
    this._items = items;
    this._currentItems = this._items;
  },
  _items: [],
  _currentItems: [],
  $components: [ Header, Calendar ],
  $update: function() {
    this.$components = this._currentItems.map(Results);
  }
}

App = {
  $cell: true,
  $type: "div",
  class: "main",
  style: "width: 90%; max-width: 1024px; margin: 30px auto;color:darkslategray;",
  $components: [ Menu, Main ]
}

</script>
</html>
